<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Quiz{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/quiz_style.css' %}">
</head>
<body>
    <header>
        <h1>{% block header %}Quiz - Le Guide Végétal{% endblock %}</h1>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
