{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>{{name}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'description/assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'description/assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload-0 is-preload-1 is-preload-2">

		<!-- Main -->
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>{{name}}</h1>
						<p>{{description}}</p>
						<ul class="icons">
							<li><a href="/catalogue" class="icon solid fa-th-large"><span class="label">Vers catalogue </span></a></li>
							<li><a href="/description/{{ id|add:-1 }}" class="icon solid fa-long-arrow-alt-left"><span class="label">Espèce précédente</span></a></li>
							<li><a href="/description/{{ id|add:1 }}" class="icon solid fa-long-arrow-alt-right"><span class="label">Espèce suivante</span></a></li>
							<li><a href="#" class="icon solid fa-pencil-alt"><span class="label">Edit</span></a></li>
							<li><a href="/accueil" class="icon solid fa-home"><span class="label">Accueil</span></a></li>
						</ul>
					</header>

				<!-- Thumbnail -->
					<section id="thumbnails">
						{% for image in images %}
						<article>
							<a class="thumbnail" href="{% static image.full %}" data-position="left center">
								<img src="{% static image.thumb %}" alt="{{ image.title }}" />
							</a>
							<h2>{{ image.title }}</h2>
							<p>{{ image.desc }}</p>
						</article>
						{% endfor %}
					</section>

					<header id="header">
						<p>mots clés : {{keywords}}</p>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; TATIPH.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a>.</li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'description/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'description/assets/js/browser.min.js' %}"></script>
			<script src="{% static 'description/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'description/assets/js/main.js' %}"></script>

	</body>
</html>